---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Ticker from '../components/Ticker.astro'
import Services from '../components/Services.astro'
import WhyMe from '../components/WhyMe.astro'
import RecentWork from '../components/RecentWork.astro'
import Experience from '../components/Experience.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import ScrollReveal from '../components/ScrollReveal.astro'
---

<Layout>
  <canvas id="gl"></canvas>
  <div id="vignette"></div>

  <div class="site">
    <Nav />
    <Hero />
    <Ticker />
    <Services />
    <WhyMe />
    <RecentWork />
    <Experience />
    <Contact />
  </div>

  <Footer />
  <ScrollReveal />
</Layout>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="../scripts/scene.ts"></script>
